{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/menu.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"/>
</head>
<body>
    <div class="incio">
        {% include 'logimanageapp/includes/sidebar.html' %}
        <div class="top-bar"></div>
        <div class="search-bar-wrapper">
            <div class="search-bar">
                <img class="home-icon" alt="" src={% static "logimanageapp/imgs/search.png" %}>
                <input type="text" class="pesquisar-input" placeholder="Pesquisar">
            </div>
        </div>
        <div class="header-inicial">
            <div class="header-inicial-child"></div>
            <b class="logimanage-gesto-eficiente">LogiManage: Gestão Eficiente de Transportes</b>
            <div class="bem-vindo-ao-logimanage">Bem-vindo ao LogiManage - O sistema completo para gerenciar com eficiência seus transportes e equipamentos, trazendo mais organização e controle para sua logística.</div>
            <img class="figuras-1" alt="" src={% static "logimanageapp/imgs/Figuras1.png" %}>
        </div>
        <div class="cards-container">
            <div class="acompanhe-e-gerencie">
                <div class="acompanhe-e-gerencie-child"></div>
                <b class="companhe-e-gerencie">Acompanhe e gerencie todos os transportes em andamento.</b>
                <img class="truck-8-1" alt="" src={% static "logimanageapp/imgs/truck1.png" %}>
            </div>
            <div class="acompanhe-e-gerencie1">
                <div class="acompanhe-e-gerencie2">
                    <div class="acompanhe-e-gerencie-item"></div>
                    <b class="companhe-e-gerencie1">Gerenciamento de Equipamentos.</b>
                </div>
                <img class="insurance-3-1" alt="" src={% static "logimanageapp/imgs/insurance1.png" %}>
            </div>
            <div class="formulrios">
                <b class="h3-feature-title3">Visualize formulários sobre transportes e equipamentos.</b>
                <img class="figuras-2" alt="" src={% static "logimanageapp/imgs/Figuras2.png" %}>
            </div>
        </div>
    </div>
</body>
</html>