{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/registro.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
</head>
<body>
    <div class="registrar">
        <div class="logo">
            <img class="icon1" alt="" src="{% static 'logimanageapp/imgs/logo_grande.png' %}">
            <div class="logimanage">LogiManage</div>
        </div>
        <div class="content">
            <div class="header">
                <img class="icon" alt="" src="{% static 'logimanageapp/imgs/logo_pequena.png' %}">
                <div class="text-and-supporting-text">
                    <div class="text">Criar conta</div>
                    <div class="supporting-text">Crie sua conta para navegar</div>
                </div>
            </div>
            <div class="content1">
                <div class="form">
                    <form method="post" action="{% url 'registrar_usuario' %}">
                        {% csrf_token %}
                        
                        {% for field in form %}
                        <div class="input-field">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <div class="hint-text">{{ field.help_text }}</div>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        
                        <div class="actions">
                            <div class="button">
                                <button type="submit" class="button-base">Registrar</button>
                            </div>
                        </div>
                    </form>                    
                    <div class="row">
                        <div class="text6">Já tem uma conta?</div>
                        <div class="button1">
                            <button type="button" class="button-base1">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
