{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogiManage - Requisição</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/requisicao.css' %}">
    <link rel="stylesheet" href="{% static 'logimanageapp/css/sidebar.css' %}"> {# Adicionado o CSS da sidebar #}
    <link rel="stylesheet" href="{% static 'logimanageapp/css/tabela.css' %}"> {# Adicionado o CSS da tabela #}
    <script src="{% static 'logimanageapp/js/modal.js' %}" defer></script>
</head>
<body>
    <div class="app-container">
        {% include 'logimanageapp/includes/sidebar.html' %}

        <main class="main-content">
            <div class="page-header">
                <h1>Requisição de Transporte</h1>
                <button class="primary-button" id="open-modal">
                    Adicionar Equipamento
                </button>
            </div>

            {% include 'logimanageapp/includes/tabela.html' %} {# Tabela de Transporte Movida #}

        </main>
    </div>

    {% include 'logimanageapp/includes/modal.html' %}

</body>
</html>