{% load static %}

<div class="list-menu">
    <div class="list-menu1">
        <div class="list-menu2">
            <a href="#" class="menu-link">
                <div class="content">
                    <img class="home-icon" alt="" src={% static "logimanageapp/imgs/Home.png" %}>
                    <a href="" class="text">Início</a>
                </div>
            </a>
        </div>
        <div class="list-menu2">
            <a href="#" class="menu-link">
                <div class="content">
                    <img class="home-icon" alt="" src={% static "logimanageapp/imgs/Frame7.png" %}>
                    <a href="" class="text">Painel De Controle</a>
                </div>
            </a>
        </div>
        <div class="list-menu2">
            <a href="#" class="menu-link">
                <div class="content">
                    <img class="home-icon" alt="" src={% static "logimanageapp/imgs/Frame9.png" %}>
                    <a href="" class="text">Requisição</a>
                </div>
            </a>
        </div>
        <div class="list-menu2">
            <a href="#" class="menu-link">
                <div class="content">
                    <img class="home-icon" alt="" src={% static "logimanageapp/imgs/Frame10.png" %}>
                    <a href="" class="text">Formulários</a>
                </div>
            </a>
        </div>
        <div class="list-menu2">
            <a href="#" class="menu-link">
                <div class="content">
                    <img class="home-icon" alt="" src={% static "logimanageapp/imgs/Frame8.png" %}>
                    <a href="" class="text">Perfil</a>
                </div>
            </a>
        </div>
    </div>
</div>